<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="../static/login.css">

  <style>
    #loginButton {
      padding: 10px;
    background-color: #089F6A;
    color: black;
    border: none;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    width: 45%;
    height: 60px;
}

#loginButton:hover {
  background-color: #257558;
}
  </style>

</head>
<body>
  <h1 id="welcome-header">Welcome to the gym tracking app!</h1>
  <div class="container">
    <form>
      <h2 class="makeWhite">Login</h2>
      <input id="username" type="text" placeholder="Email or username" required>
      <input id="password" type="password" placeholder="Password" required>

      <p id="passwordRequirements" class="makeWhite" style="display: none; color: red;"></p>

      <p class="signup makeWhite"><a id="signup-btn" href="signup.html">Sign up</a></p>
      <button id="loginButton">Login</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("form").submit(function(event){
        event.preventDefault(); // Prevent form submission

        var test = JSON.stringify({
          "username": $("#username").val(),
          "password": $("#password").val()
        });

        $.ajax({
          url: "/login",
          data: test,
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          success: function(serverResponse) {
            if (serverResponse == true) {
              console.log("success");
              window.location.href = "index.html";
            } else {
              console.log("failure");
              $("#passwordRequirements").text("Incorrect username or password");
              $("#passwordRequirements").show();
            }
          }
        });
      });
    });
  </script>
</body>
</html>
