<!DOCTYPE html>
<html>
<head>
  <title>Sign Up Page</title>
  <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
    <h1 id="welcome-header">Welcome to the gym tracking app</h1>

  <div class="container">
    <form>
      <h2 class="makeWhite">Sign Up</h2>
      <input id="username" type="text" placeholder="Username">
      <input id="password" type="password" placeholder="Password">
      <input id="confirmPassword" type="password" placeholder="Confirm Password">
      

      <p class="signup makeWhite"> <a id="continue-as-guest" href="#">Continue as guest</a> <a id="signup-btn" href="login.html">Login</a></p>


      <button id="signUpButton" type="submit">Sign Up</button>

    </form>
  </div>

  <script src="https:///ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>

    $(document).ready(function(){
      $("#signUpButton").click(function(){
        console.log("function called")

        var test = JSON.stringify({
          "username": $("#username").val(),
          "password": $("#password").val(),
          "confirmPassword": $("#confirmPassword").val()
        });

        console.log("test object updates with username and password");

        $.ajax({
          url: "/signUp",
          data: test,
          type: "POST",
          contentType: "application/json",
          dataType: "json",
          success: function(serverResponse) {
            console.log("in ajax call")
            console.log("test: " + test)
            console.log("serverResponse: " + serverResponse)

            if (serverResponse == false) {
              console.log("Another user with that username already exists")
              alert("Another user with that username already exists")
              // window.location.href = "index.html";
            } else {
              console.log("fine")
              alert("fine")
            }
          }
        })


      });
    })


const signInButton = document.getElementById("signup-btn");
signInButton.addEventListener("click", () => {
        console.log("Clicked sign in button")
        window.location.href = "login.html"; 
    })

  </script>

</body>
</html>